[Unit]
Description=uwsgid
After=network.target
StartLimitIntervalSec=0

[Service]
Type=forking
ExecStart=/usr/bin/pkgshipd start
ExecStop=/usr/bin/pkgshipd stop
User=pkgshipuser
Group=pkgshipuser
Restart=always
RestartSec=1
PrivateTmp=true


[Install]
WantedBy=multi-user.target