@font-face {
    font-family: "FZLTHJW";
    src: url(../fonts/FZLTHJW.TTF);
}
@font-face {
    font-family: "FZLTCHJW";
    src: url(../fonts/FZLTCHJW.TTF);
}

@font-face {
    font-family: "FZLTHJW";
    src: url(../fonts/FZLTHJW.TTF);
}
@font-face {
    font-family: "FZLTXIHJW";
    src: url(../fonts/FZLTXIHJW.TTF);
}