# yum repo for installation
yum_repo=/etc/pkgship-tools/openEuler-sp1.repo

# docker download url
docker_url=https://repo.openeuler.org/openEuler-20.03-LTS-SP1/docker_img/aarch64/openEuler-docker.aarch64.tar.xz

# repo on the obs, standard_aarch64/standard_x86_64
obs_repo=standard_aarch64

# aarch of the package, aarch64/x86_64
obs_arch=aarch64
