[Unit]
Description=uwsgid
After=network.target
StartLimitIntervalSec=0

[Service]
Type=forking
ExecStart=/usr/bin/pkgship-paneld start
ExecStop=/usr/bin/pkgship-paneld stop
User=pkgshipuser
Group=pkgshipuser
Restart=always
RestartSec=1
PrivateTmp=true


[Install]
WantedBy=multi-user.target